p{
    font-size:20px;
    color: #c136a9;
}
#beaty{
    width:200px;
    height: 200px;
    background: url('../../static/u=832963609,1634316605&fm=27&gp=0.jpg') no-repeat center center;
    transform: translate(300px,50%);
    margin-top:20px ;
    border-radius:50%
}